<div style=" width: 100%;">
  <app-search-toolbar></app-search-toolbar>

  <div class="content"  style="">
    <!-- bannier publicitair -------->
    <app-banier-pub></app-banier-pub>
    <!--  section title-------------->
    <div>
      <div id="search-navigation" style="">
         <button mat-icon-button><mat-icon style="color: var(--app-primary)" >home</mat-icon></button>
         <mat-icon>keyboard_arrow_right</mat-icon>
        <span class="navigation-link clickable" >Market</span>
      </div>
      <h6 style="font-size: 20px">Toutes les categories au Gabon 47859 annonces </h6>
    </div>

      <section id="section-content" style="">

        <div id="categories-section" style="display: flex; gap: 10px">

         <button class="categories-button " mat-flat-button >Bazaroo market <mat-icon class="category-icon-violet">store</mat-icon> </button>
          <button class="categories-button" mat-flat-button >Bazaroo Computers<mat-icon class=" category-icon-teal">devices</mat-icon></button>
          <button class="categories-button" mat-flat-button >Bazaroo Vihicule<mat-icon class="category-icon-green">local_taxi</mat-icon></button>

        </div>

        <div id="announce-and-vip-section"  style="">
          <div  id="announces-section" style="" >
            <app-announce *ngFor="let  an of announces" [announce]="an" [width]="265" [height]="200"></app-announce>
          </div>

          <section  id="section-vip" style="">
            <app-announce-vip style="" *ngFor="let  an of announces_vip" [announce]="an" [width]="265" [height]="200"></app-announce-vip>
          </section>

        </div>



      </section>


  </div>

  <!--  footer-->
  <div style="margin-top: 80px!important;">
    <app-footer ></app-footer>
  </div>


</div>

