<nav aria-label="breadcrumb">
  <ul class="breadcrumb"  style="">

    <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="breadcrumb-item"
        [ngClass]="{ 'active': last }">
      <button mat-icon-button *ngIf="breadcrumb.label == 'home'"  [routerLink]="breadcrumb.url">
        <mat-icon color="primary">home</mat-icon>
      </button>
      <a *ngIf="!last && breadcrumb.label != 'home' " [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
        <mat-icon  *ngIf="!last">navigate_next</mat-icon>
      <span *ngIf="last">{{ breadcrumb.label }}</span>
    </li>
    <li *ngIf="currentCategory"> <mat-icon >navigate_next</mat-icon></li>
    <li *ngIf="currentCategory" class="breadcrumb-item active">{{ currentCategory.title }}</li>
  </ul>
</nav>
