
<div>
  <mgl-map
    id="map"
    [style.height]="height+'px'"
    [style]="'mapbox://styles/mapbox/streets-v12'"
    [zoom]="[9]"
    [center]="[longitude, latitude]"
    [cursorStyle]="'pointer'"
    [attributionControl]="false"
    [preserveDrawingBuffer]="true"

    [scrollZoom]="false"
   (mapCreate)="onMapCreate($event)">


    @for (a of announces; track a){
      <mgl-marker #marker  [lngLat]="[a.location.longitude, latitude] ">
        <mat-icon color="primary">
          shop
        </mat-icon>
      </mgl-marker>
      <mgl-popup [marker]="marker" [maxWidth]="'fit-content'" [closeButton]="false" >
        <mat-card style="width: 250px">
          <img src="assets/images/voiture.jpg" matCardImage width="100%">
          <mat-card-content >
            <div>
              <mat-card-title style="font-size: medium">
                {{a.title}}
              </mat-card-title>
              <mat-card-subtitle style="font-size: small; display: flex; align-items: center;">
                <mat-icon style="font-size: medium; display: flex; align-items: center">place</mat-icon>
                localisation
              </mat-card-subtitle>
            </div>
          </mat-card-content>
        </mat-card>
      </mgl-popup>


    }



  </mgl-map>
</div>
