mat-toolbar{

  margin-bottom: 10px;
  padding: 0;


}


mat-toolbar .form{

  display: flex;
  gap: 5px;
  justify-content: center;
  flex: 1;
  align-items: center;
}



mat-form-field.small, .form-button {
  --mat-form-field-container-height: 45px;
  --mat-form-field-container-vertical-padding: 8px;

}
mat-form-field.small, .form-button{
  width: 30%;
  height: 45px;
}
mat-toolbar .form .form-button, mat-form-field{
  background-color: rgb(242,242,242);
  color: black;
  border-radius: var(--app-button-radius);
}

:hover mat-form-field.hover-none{
  --mdc-outlined-text-field-outline-color: rgba(255,255,255,0);
}

mat-form-field.border-none{
  --mdc-outlined-text-field-outline-color: rgba(255,255,255,0);
}


.search-button {
  border-radius: var(--app-button-radius);
  background-color: teal;

}
