



<mat-sidenav-container style="height:100vh;" hasBackdrop="true">
  <mat-sidenav #sidenav style="" position="start">
    side 1
  </mat-sidenav>
  <mat-sidenav #drawer style="border-radius: 0;" position="end">

    <div style="height: 100%; box-sizing: border-box; overflow-x: hidden">
      <ng-container *ngIf="drawerContent=='category'" style="">
        <app-categories-dialog>
        </app-categories-dialog>
      </ng-container>

      <ng-container *ngIf="drawerContent=='city'">
        <app-cities-dialog>
        </app-cities-dialog>
      </ng-container>

      <ng-container *ngIf="drawerContent=='category-select-dialog'" style="">
        <app-category-select-dialog>
        </app-category-select-dialog>
      </ng-container>

      <ng-container *ngIf="drawerContent=='city-select-dialog'" style="">
        <app-city-select-dialog>
        </app-city-select-dialog>
      </ng-container>
    </div>

  </mat-sidenav>
  <mat-sidenav-content style="overflow-x: hidden!important;">
    <app-toolbar #toolBar style="position: sticky; top: 0; z-index: 4" ></app-toolbar>
    <div style="margin-top: 5px; ">
      <router-outlet ></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>









