



<mat-sidenav-container style="height:100vh" hasBackdrop="true">
  <mat-sidenav #drawer style="" position="start">
    side 1
  </mat-sidenav>
  <mat-sidenav #drawer2 style="" position="end">
    side 2
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar style="position: sticky; top: 0; z-index: 1" ></app-toolbar>
    <div style="margin-top: 5px">
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>









