.category-item-button{
  border-radius: var(--app-button-radius);
  display: flex;
  width: 100%;
  justify-content: start!important;
  gap: 10px;
  height: 60px;
}

.icon-end{
  flex: 1 1 auto;
  text-align: end;
}

.icon-f-32{
  width: 32px;
  font-size: 32px;
  height: auto;
}

.slideOut{
  transform: translateX(-100%) translateX(-20px);
}

.slide-in{
  transform: translateX(0)!important;
}

#tree1, #tree2{
   transition: transform 0.5s ease;
}

#tree2 {
  position:absolute;
  z-index: 3;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateX(calc(100% + 20px));
}


.active-button{
  background-color: rgba(52,152,219,0.2);
}

.bg-primary{
  background-color: rgba(52,152,219,0.65);
}

.actions {
  display: flex;
  padding: 10px;
  justify-content: end;
}

.confirm {
  border-radius: var(--app-button-radius);
}

.tree-container {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
