

  <div style="display: flex;flex-direction: column; height: 100%;">
    <div style="padding: 10px">
      <span mat-dialog-title style="">
      Choisir les categories
    </span>
    </div>
    <mat-divider></mat-divider>


    <div class="tree-container" style="">



        <mat-tree id="tree1" #tree1 [class]="slideTree? 'slideOut':''" [dataSource]="dataSource" [treeControl]="treeControl" style="z-index: 2; height: 100%;">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- utiliser un bouton désactivé pour fournir un remplissage pour la feuille d’arbre -->
            <span *ngIf="node.parentId" style="width: 5px"></span>
            <button mat-button  class="category-item-button " [class]="currentNode?.name == node.name? 'active-button':''" (click)="onNodeClick(node,$event)">
              {{node.name}}
              <mat-icon class="icon-f-32 " [class]="node.color">{{node.iconUrl.split("/")[0]}}</mat-icon>
            </button>

          </mat-tree-node>
          <!-- Il s’agit du modèle de nœud d’arborescence pour les nœuds extensibles -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            @if (treeControl.getLevel(node) == 1){
              <button mat-button  [class]="currentNode?.name == node.name? 'active-button':''"
                      [attr.aria-label]="'Toggle ' + node.name" (click)="onNodeClick(node,$event)" class="category-item-button">
                <mat-icon class="icon-f-32 " [class]="node.color" >{{node.iconUrl.split("/")[0]}}</mat-icon>
                {{node.name}}
                <mat-icon iconPositionEnd  class="mat-icon-rtl-mirror icon-end">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
            } @else {
              <button mat-button matTreeNodeToggle [class]="currentNode?.name == node.name? 'active-button':''"
                      [attr.aria-label]="'Toggle ' + node.name" (click)="onNodeClick(node,$event)" class="category-item-button">
                <mat-icon class="icon-f-32 " [class]="node.color" >{{node.iconUrl.split("/")[0]}}</mat-icon>
                {{node.name}}
                <mat-icon iconPositionEnd  class="mat-icon-rtl-mirror icon-end">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
            }
          </mat-tree-node>
        </mat-tree>





        <div id="tree2"   style="" [class]="slideTree? 'slide-in':''">
          <button style="justify-content: start" mat-icon-button (click)="goBack()"> <mat-icon> arrow_back </mat-icon> </button>
          <mat-tree #subTreeTemplate [dataSource]="currentDataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-button class="category-item-button" [class]="currentNode?.name == node.name?  'active':''">
                {{node.name}}
                <mat-icon class="icon-f-32 " [class]="node.color">{{node.iconUrl.split("/")[0]}}</mat-icon>
              </button>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              @if (treeControl.getLevel(node) == 1){
                <button  mat-button  [class]="currentNode?.name == node.name? 'active-button':''"
                        [attr.aria-label]="'Toggle ' + node.name" (click)="onNodeClick(node,$event)" class="category-item-button">
                  <mat-icon class="icon-f-32 " [class]="node.color" >{{node.iconUrl.split("/")[0]}}</mat-icon>
                  {{node.name}}
                  <mat-icon iconPositionEnd  class="mat-icon-rtl-mirror icon-end">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
              } @else {
                <button mat-button matTreeNodeToggle [class]="currentNode?.name == node.name? 'active-button':''"
                        [attr.aria-label]="'Toggle ' + node.name" (click)="onNodeClick(node,$event)" class="category-item-button">
                  <mat-icon class="icon-f-32 "  [class]="node.color" >{{node.iconUrl.split("/")[0]}}</mat-icon>
                  {{node.name}}
                  <mat-icon iconPositionEnd  class="mat-icon-rtl-mirror icon-end">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
              }
            </mat-tree-node>
          </mat-tree>
        </div>




    </div>



    <mat-divider style=""></mat-divider>
    <div mat-dialog-actions class="actions" style="">
      <button mat-flat-button class="confirm" [disabled]="currentNode==null" style="" (click)="onConfirm()">
        Confirmer
        <mat-icon iconPositionEnd  class="icon-end">
          chevron_right
        </mat-icon>
      </button>
    </div>


  </div>


