#logo{
width: 40px;
}

#profile img{
width: 28px;

}


.button-radius-5{
  border-radius: 5px;
}

.spacer {
  flex: 1 1 auto;
}

#profile{
  border: 1px solid rgb(228,231,235);
  margin: 5px!important;
  box-sizing: content-box;
  padding: 5px;
}

mat-toolbar{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: var(--app-toolbar-padding);

}


#logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 50px;
}
