.example-header-image {
  background-image: url('http://localhost:4200/assets/images/pngegg (30).png');
  background-size: cover;
}

mat-card-header mat-card-title{
  font-size: 15px;
}



mat-card-header mat-card-subtitle{
  font-size: 13px;
  color: gray;
}

mat-card-header mat-card-subtitle mat-icon{
  font-size: 13px;
}

.app-card-image-container .meche {
  display: flex;
  align-items: end;
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--app-image-annouce-radius);
  padding: 10px;
}

.app-card-image-container{
  display: flex;
  position: relative;

}

.app-card-image{
  border-radius: var(--app-image-annouce-radius);
  width: 100%;

}


.app-card-mini-info {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 450;
  word-spacing: 1px;
  letter-spacing: 0;
  align-content: center;

}

.app-card-mini-info mat-icon{
  color: white;
  font-size: 15px;
  width: 15px;
  align-content: center;
}

.announce-profile-name {
  margin-bottom: 4px;
}

.app-card-mini-info-unit {
  display: flex;
  align-content: center;
  text-align: center;
  gap: 4px;
  justify-content: center;
  border-radius: var(--app-button-radius);
  background-color: rgba(28, 28, 28, 0.49);
  padding-right: 4px;
  padding-left: 4px;
}

.app-card-mini-info-unit-text{
  width: min-content;
  color: white;
}
