
  <mat-card  *ngIf="announce" style="width: 260px">
    <!--  Announce header-->
    <mat-card-header >
      <div mat-card-avatar class="example-header-image" ></div>
      <mat-card-title class="announce-profile-name">Mouloungui ib</mat-card-title>
      <mat-card-subtitle style="display: flex; align-content: center; "><mat-icon >access_time</mat-icon>Il y'a 2h</mat-card-subtitle>
    </mat-card-header>

    <!-- Image card content-->
    <div  class="app-card-image-container"  style="margin: 10px; height: 200px">
      <img  [ngSrc]="announce.media" alt="announces image" class="app-card-image" fill/>
      <span mat-card-image class="meche">
          <div class="app-card-mini-info">
            <span class="app-card-mini-info-unit" >
              <mat-icon>image</mat-icon>
               <span class="app-card-mini-info-unit-text" style="">9</span>
            </span>

             <span class="app-card-mini-info-unit" >
              <mat-icon>store</mat-icon>
               <span class="app-card-mini-info-unit-text" style="">boutique</span>
            </span>
          </div>
        </span>
    </div>
<!-- Announces card body  contet-->
    <mat-card-content>
      <mat-card-title style="font-size: 17px">{{announce.title}}</mat-card-title>
      <mat-card-subtitle style="font-size: 20px; color: var(--app-primary)" >{{announce.price|currency:'USD'}}</mat-card-subtitle>
    </mat-card-content>
    <!-- Announces card actions content -->
    <mat-card-actions align="end">
      <button mat-icon-button><mat-icon>favorite_border</mat-icon></button>
      <button mat-icon-button> <mat-icon>share</mat-icon></button>

    </mat-card-actions>
  </mat-card>

