.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.app-card-image-container .wrapper {
  display: flex;
  align-items: end;
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  padding: 10px;
}

.app-card-image-container{
  display: flex;
  position: relative;
}

.app-section-announces {
  display: flex;
  overflow: hidden;
  gap: 30px;
  padding: 5px 0 5px 0;
}

mat-card{
  cursor: pointer;
}

.button-scroll {
pointer-events: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.32);
}

.button-scroll.right{

}

.button-scroll.left{

}

.scrolling-actions {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  pointer-events: none;
  padding: 10px;


}

.card-image {
  object-fit: cover;
}

mat-card{
  width: calc((100% / 3) - 20px);
  max-height: 360px;
  flex-shrink: 0;
}
