.announce-container {
  width: 75%;
  padding-bottom: 40px;


}

#ad-container {

 width: 25%;
  min-height: 200px;

}

#announce-details {

  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-icon {
  display: flex;
  align-content: center;
  letter-spacing: normal;
  font-size: small;
  align-items: center;
  gap: 4px;
}

.profile-image {
  width: 50px;
  border: none;
  border-radius: 50%;
}

.profile-contacts {
  display: flex;
  gap: 5px;
}

#announce-title {
  display: inline-block;
  max-width: max-content; /* Ajustez cette valeur selon vos besoins */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-large;
}

#announce-description {
  font-size: medium;
  color: dimgrey;
}

mat-divider{
  --mat-divider-color: #e6e6e6;
}
