
#medias-container {
  position: relative;
  width: 100%;

}

#medias-view {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  gap: 5px;

}

.media-view{
  background-color: lightgray;
  flex-basis:calc(50% - 2px);
  height: 300px;
  box-sizing: border-box;
  flex-shrink: 0 ;
}

.media-view:active{
  cursor: grabbing;
}

.media-view img{

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-view video{
  width: 100%;
  height: 100%;
  aspect-ratio:auto;
}

#medias-wrapper {
  position: absolute;
  height: 100%;
  width: calc(100% - 0px);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

button{
  pointer-events: all;
}

.media-wrapper-header {

}

.media-wrapper-content {
}

.media-wrapper-footer {
}

.media-wrapper-header,.media-wrapper-content,.media-wrapper-footer{

  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 50px;
}




.btn-scrolling-left {

}

.btn-scrolling-right {
}
.btn-scrolling-left, .btn-scrolling-right{
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.05);
}
