.form-item {
  display: flex;
flex-direction: column;
  gap: 5px;
}

.form-item label{
  width: fit-content;
}

.section-form-items {
  display: flex;
  gap: 30px;
  flex-direction: column;

}

.adtype-item input[type="radio"] {
  display: none;
}

.adtype-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin: 5px 0;
}

.adtype-item .adtype-name {
  position: relative;
  width: fit-content;
  background-color: white;
  border: 1px solid #3a66d2;
  padding: 10px;
  border-radius: 999px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.adtype-item input[type="radio"]:checked + .adtype-name {
  background-color: rgba(58, 102, 210, 0.12);
  color: #3a66d2;
}

.adtype-item .adtype-name::after {
  content: "";
  position: absolute;
  display: none;
}


.adtype-item input[type="radio"]:checked + .adtype-name::after {

}


.adtype-item .adtype-name::after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
}

#types-container {
  display: flex;
  gap: 10px;
}

.section-form {
  display: flex; flex-direction: column; gap: 30px;
}

.section-titles {
  display: flex; flex-direction: column; gap: 5px;
}

.section-title {
  font-size: x-large;
}

.section-subtitle {
  color: grey;
}

.form {
  gap: 70px;
  padding: 20px;
  flex-grow: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}


