<div style="display: flex;flex-direction: column; height: 100%;">
  <div style="padding: 20px">
      <span mat-dialog-title style="">
        Choisir le secteur
    </span>
  </div>

  <mat-divider style=""></mat-divider>

  <div id="city-search-container" style="display: flex; width: 100%; padding: 20px; box-sizing: border-box ">
    <mat-form-field  appearance="outline" style="width: 100%;" subscriptSizing="dynamic"
                    class="small border-none hover-none">
      <input type="search" matInput placeholder="rechercher" id="search-input">
      <mat-icon matIconPrefix>search</mat-icon>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  @if(slideOut){
    <div class="action-container" style="">
      <button mat-button (click)="back()" *ngIf="slideOut">
        <mat-icon> arrow_back</mat-icon>
        Retour
      </button>

    </div>
    <mat-divider></mat-divider>
  }


  <div
    style=" position: relative;flex-grow: 1; box-sizing: border-box; padding: 10px; overflow-y: auto; overflow-x: hidden">

    <div #listCity [class]="slideOut? 'slide-out': ''" id="listCity"
         style=" z-index: 2; display: flex; flex-direction: column">
      @for (c of cities; track c) {
        <button #lo mat-button (click)="next(c)" style="height: 50px; justify-content: space-between" >
          <span>{{ c.name }}</span>
          <mat-icon iconPositionEnd>navigate_next</mat-icon>
        </button>
      }
    </div>


    <div id="listStreet" [class]="slideOut? 'slide-in':'' "  style="z-index: 1; display: flex; flex-direction: column;">
      @for (s of currentCity?.streets; track s) {
        <button mat-button [value]="s.name" style="height: 50px; justify-content: start" (click)="onSelectedStreet(s)">
          <span>{{ s.name }}</span>
        </button>
      }
    </div>

  </div>


</div>


